    body {
      margin:0;
      margin-right: 10px;
      position:relative;
      top: 0px;
    }
    header {
      text-align: center;
      background: rgba(000,185,185,1);
      color: black;
      padding: 0 0 20px 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #contactinfo {
        text-align:left;
        background-color: rgba(255,0,0,1);
        width: 600px;
        padding: 5px;
        border:8px solid;
        border-color: rgba(255,0,0,1);
        border-radius: 15px;
    }
    #myname{
        font-size: 80px;
        padding: 20px 0 0 0 ;
    }
    hr {
        position: relative;
    }
    .major{
        width: 100%;
    }
    .minor{
        width: 40%;
    }
    a#menu{
      color: white;
      text-decoration: none;
    }
    .position{
        font-style: italic;
    }
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      background: rgba(0,0,0,0.8);
      
    }
    li {
      display: inline;
      margin: 0px;
      padding: 0px 10px 0px 10px;
      
    }
   .location {
      float: right;
    }
    .duration {
      float: right;
    }
    
    #faded {
      height: 40px;
      width: 400px;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      font-family:"Times New Roman", Times, serif;
      color: #334433;
      font-weight: bold;
      border-radius: 20px;
      background: rgba( 200, 0, 0, 1);
      text-shadow: 1px #fff;
    }

