    body {
     margin: 0;
     position:relative;
     top: -18px;
    }
    header {
      text-align: center;
      background: rgba(200,200,0,0.5);
      background-size: cover;
      color: white;
      
    }
    a#menu{
      color: white;
      text-decoration: none;
    }
    
    
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      background: rgba(0,0,0,0.8);
      
    }
    li {
      display: inline;
      margin: 0px;
      padding: 0px 10px 0px 10px;
      
    }
   
    #faded {
      height: 40px;
      width: 400px;
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      font-family:"Times New Roman", Times, serif;
      color: #334433;
      font-weight: bold;
      border-radius: 20px;
      background: rgba( 200, 0, 0, 1);
      text-shadow:5px 5px 15px #fff;
    }

